<div class="messaging">
    <div class="inbox_msg">
        <div class="inbox_people">
            <div class="headind_srch">
                <div class="recent_heading">
                    <h4>Recent</h4>
                </div>
                <div class="srch_bar">
                    <div class="stylish-input-group">
                        <input type="text" class="search-bar" placeholder="Search">
                        <span class="input-group-addon">
                            <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                        </span> </div>
                </div>
            </div>
            <div class="inbox_chat">
                <% for (var i=0; i< users.length; i++){ %>
                <% if(users[i].name!=user){ %>
                <div class="chat_list">
                    <div class="chat_people">
                        <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                        </div>
                        <div class="chat_ib">
                            <h5 id="chat_ib">
                                <%= users[i].name %>
                            </h5>
                        </div>
                        <input type="hidden" class="u" value="<%= users[i].id %>" />
                    </div>
                </div>
                <% }   %>
                <% } %>
            </div>
        </div>
        <div id="messages" class="mesgs" style="display:none">

            <div id="msg_history" class="msg_history">
                <div class="col-12 mb-3 pt-0 mt-0">
                    <span id="username"></span>
                </div>
            </div>
            <div id="type_msg" class="type_msg">
                <span id="typingBar" class="pencil_anim" style="display:none">Typing.....</span>
                <div class="input_msg_write">
                    <input type="text" id="msgInput" class="write_msg" placeholder="Type a message" style="border:0; outline: none;" />
                    <button id="msg_send_btn" class="msg_send_btn" type="button">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/socket.io.js"></script>
<script src="/js/moment.min.js"></script>
<script>
    var users = []; // Users who online

    var username = null;
    var myname = '<%= user %>';
    var socket = io('http://localhost:3000', {
        query: {
            username: '<%= user %>'
        }
    });

    username = document.getElementById('chat_ib').innerText;

    function showTypingBar() {
        const typingBar = document.getElementById('typingBar');
        typingBar.style.display = 'block';
    }

    function hideTypingBar() {
        const typingBar = document.getElementById('typingBar');
        typingBar.style.display = 'none';
    }

    function addNewUserToList(name, id) {
        const inbox = document.getElementById('inbox');
    
        var newUser = document.createElement('div');
        newUser.classList.add('chat_list');
        newUser.innerHTML = `
            <div class="chat_people">
                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                </div>
                <div class="chat_ib">
                    <h5 id="chat_ib">
                        ${name}
                    </h5>
                </div>
                <input type="hidden" class="u" value="${id}" />
            </div>
        `;
        inbox.appendChild(newUser);
    };

    function outgoingMessageShow(message) {
        const msgBlock = document.getElementById('msg_history');
        const parent = document.createElement('div');

        msgBlock.classList.add('outgoing_msg');
        msgBlock.innerHTML = `
                <div class="sent_msg">
                    <p>${message}</p>
                    <span class="time_date"> ${moment().fromNow()}</span>
                </div>
            `;
        parent.appendChild(msgBlock);
    };

    function ingoingMessageShow(message) {
        const msgBlock = document.getElementById('msg_history');
        const parent = document.createElement('div');

        msgBlock.classList.add('incoming_msg');
        msgBlock.innerHTML = `
            <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png" alt="${data.from}">
                <span class="username">${username}</span>
            </div>
            <div class="received_msg">
                <div class="received_withd_msg">
                    <p>${message}</p>
                    <span class="time_date"> ${moment().fromNow()}</span>
                </div>
            </div>
        `;
        parent.appendChild(msgBlock);    
    };
    
    socket.on('typing', function (data) {
        console.log('ontyping');
        if (myname != data.from) {
            showTypingBar();
        }
    });

    socket.on('stoptyping', function (data) {
        console.log('onstoptyping');
        if (myname != data.from) {
            hideTypingBar()
        }
    });

    socket.on('message', function (data) {
        console.log('onMessage');
        if (myname.trim() == data.from.trim()) {
            outgoingMessageShow(data.msg);
        }
        else if (myname.trim() == data.to.trim()) {
            ingoingMessageShow(data.msg);
        }

        hideTypingBar();
    });

    socket.on('newuser', function (data) {
        console.log('onnewuser');
        console.log('new user joined: ', data, `my name: ${username}`);
        if (data.name != username) {
            addNewUser(data.name, data.id);
        }
    });

    hideTypingBar();

    // TODO: 
    // Настроить для каждого chat_list Event Listener.
    const chat_listDiv = document.getElementById('chat_list');

    chat_listDiv.addEventListener('click', (e) => {
        e.preventDefault();

        chat_listDiv.classList.remove('active_chat');
        chat_listDiv.classList.add('active_chat');
        document.getElementById('username').innerHTML = `Talking to <strong>${username}</strong>`;
        document.getElementById('messages').style.display = 'block';
    });

    document.getElementById('msg_send_btn').addEventListener('click', (e) => {
        sendMessage();
    });

    // Send Typing/StopTyping on message field focus:
    document.getElementById('msgInput').addEventListener('focus', (e) => {
        var data = document.getElementById('msgInput').value;
        if (data == null || data == "") {
            socket.emit('stoptyping', {
                from: myname
            });
        }

        socket.emit('typing', {
            from: myname
        });
    });

    function sendMessage() {
        const data = document.getElementById('msgInput').value;

        socket.emit('message', {
            from: myname,
            to: username,
            msg: data
        });

        document.getElementById('msgInput').value = '';
    }
</script>